@import "../../styles/variables";
@import "../../styles/screensize";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 40px;
  background-color: $cardColor;
  // margin-bottom: 30px;
  @include mobileSS {
    display: none;
  }
  p {
    font-size: small;
    font-weight: 700;
  }
  .theme {
    display: flex;
    align-items: center;
    p {
      font-size: small;
      margin-right: 10px;
    }
  }
}
